<div class="p-6 max-w-lg mx-auto bg-gray-800 rounded-lg shadow-lg">
  <h3 class="text-xl font-semibold mb-4 text-center text-white">Detalle del Pedido</h3>

  <table class="w-full mb-4 border border-gray-600 rounded-lg">
    <thead>
      <tr class="bg-gray-700 text-white">
        <th class="p-2 border-b border-gray-600">Tamaño</th>
        <th class="p-2 border-b border-gray-600">Ingredientes</th>
        <th class="p-2 border-b border-gray-600">Cantidad</th>
        <th class="p-2 border-b border-gray-600">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of pizzas" class="text-center even:bg-gray-700 odd:bg-gray-800 text-gray-300">
        <td class="p-2 border-b border-gray-600">{{ pizza.tamano }}</td>
        <td class="p-2 border-b border-gray-600">{{ pizza.ingredientes2.join(', ') }}</td>
        <td class="p-2 border-b border-gray-600">{{ pizza.cantidad }}</td>
        <td class="p-2 border-b border-gray-600">${{ pizza.subtotal }}</td>
      </tr>
    </tbody>
  </table>

  <h4 class="text-lg font-semibold mb-4 text-right text-purple-400">Total del Pedido: ${{ totalPedido }}</h4>

  <div class="flex justify-between">
      <button
          class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md"
          (click)="quitarUltimoPedido()">Quitar</button>

      <button
          class="bg-purple-500 hover:bg-purple-600 text-white font-semibold py-2 px-4 rounded-md"
          (click)="finalizarPedido()">Terminar</button>
  </div>
</div>
